* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --primary-color: #010C13;
    --secondary-color: #85EEFE;
    --background-color: #F2F2F8;
    --text-color1: #000000;
    --text-color2: #ffffff;
    --font-title: 'Roboto', sans-serif;
    --font-text: 'PT Serif', serif;
}

h2{
    font-family: var(--font-title);
    color: var(--text-color);
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

h1{
	font-family: var(--font-title);
	color: var(--text-color);
	margin: 1rem 0;
}

p, a {
	font-family: var(--font-text);
	color: var(--text-color);
}

.title {
	text-align: center;
	color: var(--primary-color);
	font-family: var(--font-title);
	font-size: 2.5rem;
	margin: 1rem 0;
	position: relative;
}

p {
    font-family: var(--font-text);
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
	background-color: var(--background-color);
	align-items: center;
}
.hamburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger span {
  display: block;
  height: 4px;
  background: var(--primary-color);
  border-radius: 2px;
  transition: 0.3s;
}

.menu.active {
  display: block;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

.navigation {
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--primary-color);
	list-style: none;
}

.navigation a {
	color: var(--text-color2);
	text-decoration: none;
	margin: 0 0.5rem;
}

#grid, #list {
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 4px;
	align-items: center;
}
.grid section {
	background-color: var(--background-color);
	text-align: center;
	margin: 0.25rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 1rem #555;
}

.grid h2 {
	background-color: var(--secondary-color);
	border-radius: 0.5rem;
	box-shadow: inset 0 0 0.5rem #00000055;
}

.list section { 
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr; 
    padding: 0.25rem; 
    margin: 0 1rem; 
}

.list section img { 
    display: none; 
}

.list section h2 { 
    font-size: 2rem; 
}

.list section:nth-child(even) { 
    background-color: #bbb; 
}

.list h2 {
	font-size: 2rem;
}

img {
	width: auto;
	height: 75px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color2);
}

.hero-container {
	position: relative;
	display: flex;
	justify-content: end;
	align-items: end;
	margin-bottom: 1rem;
}

.hero {
	width: 100%;
	height: auto;
	max-height: 400px;
	object-fit: cover;
}

.hero-container a {
	margin-bottom: 2rem;
	padding: 0.5rem;
	position: absolute;
	text-decoration: none;
	border-radius: 3px;
	background-color: var(--secondary-color);
	color: var(--text-color1);
	box-shadow: inset 0 0 0.5rem #00000055;
}

.current-weather, .weather-forecast, .events{
	display: block;
	text-align: center;
	padding: 1rem;
	background-color: var(--secondary-color);
	border-radius: 5px;
	box-shadow: inset 0 0 0.5rem #00000055;
}

.current-weather h2, .weather-forecast h2, .events h2 {
	font-size: 1.5rem;
	background-color: var(--background-color);
	border-radius: 1rem;
	box-shadow: inset 0 0 0.5rem #00000055;
}

.section1 {	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	margin: 1rem 0;
}

.companies1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	gap: 1rem;
	margin: 1rem 0;
}

.companies1 section {
	padding: 0.5rem;
	background-color: var(--background-color);
	border-radius: 5px;
	box-shadow: inset 0 0 0.5rem #00000055;
}

.companies1 h2 {
	margin-bottom: 0.5rem;
	background-color: var(--secondary-color);
	border-radius: 1rem;
}

.join-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1rem;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 1rem;
}

.form-container h2 {
	font-size: 1.5rem;
	background-color: var(--secondary-color);
	border-radius: 1rem;
	box-shadow: inset 0 0 0.5rem #00000055;
	padding: 0.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

legend {
	background-color: var(--primary-color);
	font-family: var(--font-title);
	color: var(--text-color2);
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: inset 0 0 0.5rem var(--secondary-color);
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	max-width: auto;
	padding: .5rem;
}

label {
	font-family: var(--font-text);
	color: var(--text-color);
}

input {
	display: flex;
	justify-content: center;
	padding: 0.3rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.joinForm {
	background-color: var(--background-color);
	border-radius: 5px;
	box-shadow: inset 0 0 0.5rem #00000055;
	padding: 1rem;
	width: auto;
	max-width: auto;
	padding: .5rem;
}

select {
	padding: 0.3rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
}

textarea {
	padding: 0.3rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
}

#timestamp {
	font-size: 0.9rem;
	color: var(--text-color);
	text-align: center;
	margin-bottom: 1rem;
}

#submit {
	padding: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--text-color2);
	border: none;
	box-shadow: inset 0 0 0.5rem var(--secondary-color);
	border-radius: 4px;
}

.membership {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.membership h2 {
	font-size: 1.5rem;
	background-color: var(--secondary-color);
	border-radius: 1rem;
	box-shadow: inset 0 0 0.5rem #00000055;
	padding: 0.5rem;
	margin-bottom: 1rem;
}

.nonProfit, .bronze, .silver, .gold {
	background-color: var(--background-color);
	border-radius: 5px;
	box-shadow: inset 0 0 0.5rem #00000055;
	padding: 1rem;
	margin-bottom: 1rem;
	width: 50%;
	text-align: center;
}

.nonProfit button, .bronze button, .silver button, .gold button {
	padding: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--text-color2);
	border: none;
	box-shadow: inset 0 0 0.5rem var(--secondary-color);
	border-radius: 4px;
	margin-top: 1rem;
}

dialog {
	align-items: center;
    padding: 1em;
	max-width: 90vw;
    max-height: 90vh;
    border: none;
    box-shadow: 0 0 1em rgb(0 0 0 / 30%);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

#closeDialog {
	padding: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--text-color2);
	border: none;
	box-shadow: inset 0 0 0.5rem var(--secondary-color);
	border-radius: 4px;
	margin-top: 1rem;
}

@keyframes up {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}

.membership {
  animation: up 3s alternate infinite;
}