@media screen and (min-width: 500px) and (max-width: 767px) {
    
.navigation {
	display: block;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.5rem;
}

 .menu {
  display: none;
  padding: 10px;
}
}

@media screen and (min-width: 768px) {
   .hamburger {
    display: none;
   }
}


#discover div {
  margin: 1rem 8px;
  border: solid 1px var(--primary-color);
  background-color: var(--primary-color);
  overflow: hidden;
  border-radius: 1rem;

  display: grid;
  grid-template-areas: 
  "name"
  "photo"
  "address"
  "description"
  "cost";
}

#discover div p {
  grid-area: description;
  padding: 0.5rem;
  color: var(--text-color2); 
}

#discover div .cost {
  grid-area: cost;
  padding: 0.5rem;
  color: var(--text-color2); 
}

#discover div figure {
  grid-area: photo;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

#discover div h2 {
  grid-area: name;
  color: var(--text-color2);
  padding: 0.5rem;
  margin: 0;
}

#discover div address {
  grid-area: address;
  color: var(--text-color2);
  padding: 0.5rem;
  margin: 0;
}