@media screen and (min-width: 320px) and (max-width: 640px) {
    
.navigation {
	display: block;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.5rem;
}

 .menu {
  display: none;
  padding: 10px;
}


}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}