:root {
    --primary-color: #071108;
    --secondary-color: #C7DBE6;
    --background-color: #F2F2F8;
    --text-color1: #000000;
    --text-color2: #ffffff;
    --font-title: 'Roboto', sans-serif;
    --font-text: 'PT Serif', serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h2{
    font-family: var(--font-title);
    color: var(--text-color);
	background-color: var(--secondary-color);
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

h1 {
	font-family: var(--font-title);
	color: var(--text-color);
	margin: 1rem 0;
}
p {
    font-family: var(--font-text);
    color: var(--text-color);
}

header {
	background-color: var(--background-color);
	align-items: center;
}

.title {
	text-align: center;
	color: var(--primary-color);
	font-size: 36px;
	margin: 1rem 0;
	position: relative;
	bottom: 40px;
}

.logo {
    width: 250px;
}

.navigation {
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem 2rem;
	background-color: var(--primary-color);
	list-style: none;
}

.navigation a {
	color: var(--text-color2);
	text-decoration: none;
	margin: 0 0.5rem;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	max-width: 1000px;
}
.container h1 {
	grid-column: 1 / 3;
	margin-bottom: 10px;
	font-size: 2rem;
}

.section-about {
	grid-column: 1/ span 2;
	
}

.section-photo {
	grid-column: 3 / span 1;
	text-align: center;
}

.section-courses {
	grid-column: 1 / span 3;
	align-items: center;
}

.course-buttons {
	text-align: center;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 10px;
}

.course-list {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 10px;
	margin: 1rem;
}


footer {
	background-color: var(--primary-color);
	color: var(--text-color2);
	text-align: center;
	padding: 1rem;
}

@media screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
	}

	.section-photo {
		grid-column: 1 / span 1;
		margin-bottom: 1rem;
	}

	.section-courses {
		grid-column: 1 / span 1;
	}

}
