@media screen and (max-width: 768px) {

.navigation {
	display: block;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.5rem;
}

.container {
	display: block;
}

.section-courses{
	display: block;
}

}