* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #346739;
    --secondary-color: #79AE6F;
    --background-color: #F2EDC2;
    --text-color1: #000000;
    --text-color2: #FFFFFF;
    --font-title: 'Roboto', sans-serif;
    --font-body: 'PT Serif', serif;
}